* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.attribution {
  margin-top: 4rem;
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Barlow Semi Condensed", sans-serif;
}

p {
  font-size: $text;
  font-weight: 500;
}
img {
  border-radius: 50%;
}
